@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    body {
        @apply bg-charcoal text-dust;
    }

    a {
        @apply text-rust hover:text-rust-light;
    }
}

/* Vereinslogo als Asset referenzieren */
.logo {
    background-image: url('../images/omxfc-logo.png');
}

.ag-logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.ag-beispielgrafiken {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}