@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Vereinslogo als Asset referenzieren */
.logo {
    background-image: url('../images/omxfc-logo.png');
}

.ag-logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.ag-beispielgrafiken {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@layer base {
    body {
        background-image: url('../images/design/light/concrete_light.webp');
        background-image: image-set(
            url('../images/design/light/concrete_light.avif') type('image/avif'),
            url('../images/design/light/concrete_light.webp') type('image/webp')
        );
    }

    .dark body {
        background-image: url('../images/design/dark/concrete_dark.webp');
        background-image: image-set(
            url('../images/design/dark/concrete_dark.avif') type('image/avif'),
            url('../images/design/dark/concrete_dark.webp') type('image/webp')
        );
    }
}
