@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Vereinslogo als Asset referenzieren */
.logo {
    background-image: url('../images/omxfc-logo.png');
}

.ag-logo {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.ag-beispielgrafiken {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@layer base {
    body {
        @apply bg-apocalypse text-black dark:bg-gray-900 dark:text-gray-100;
    }

    a {
        @apply text-maddrax dark:text-red-400;
    }
}

@layer utilities {
    .bg-white {
        background-color: #FED17E;
    }
}
